.footer-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*display: ; /* Ocultar el menú por defecto */
}

.footer-menu.show {
    display: block; /* Mostrar el menú al hacer clic en el icono */
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    margin-bottom: 5px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #333;
}

.footer-menu ul li a:hover {
    color: #666;
}
