---
import Layout from "@/layouts/Layout.astro";
import projects from "@scripts/projects.json";
---

<Layout title="Projects">
    <h1>Projects</h1>
    <main class="link-card-grid">
        {
            projects.map(({ name, url, id, number }) => (
                <a href={url}>
                    <article id={id} class="link-card">
                        <div># {number}</div>
                        <h2>{name}</h2>
                    </article>
                </a>
            ))
        }
    </main>
</Layout>

<style is:global>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
        text-decoration: none;
    }
    main {
        font-size: 20px;
        padding: 1rem;
        margin: auto;
        width: 1250px;
        max-width: calc(100% - 2rem);
    }
    h1 {
        background: var(--baner-color);
        color: var(--black);
        padding: 2rem 0;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 2rem;
        padding: 0;

        & .link-card {
            display: flex;
            background: var(--card-color);
            padding: 0.5rem 1.5rem;
            border-radius: 25px;
            cursor: pointer;

            &:hover {
                background: var(--card-color-light);
                transform: scale(1.05);
                transition: all 0.3s ease;

                div {
                    color: rgb(255, 219, 88);
                    transform: scale(1.1);
                    transition: all 0.3s ease;
                }
            }
        }

        & .link-card > h2 {
            font-size: 1.2rem;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .link-card > div {
            font-size: 1rem;
            font-weight: bold;
            background-color: var(--highlight);
            border-radius: 15px;
            padding: 0.8rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
