*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #252525;
}
.input-field {
    position: relative;
}

.input-field input {
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
}
.input-field label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}
input:focus {
    border: 2px solid #1dc6ce;
}
input:focus ~ label,
input:valid ~ label {
    top: 0;
    font-size: 16px;
    padding: 0 15px;
    background: #252525;
}
