---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        /* Modificar */
        --card-color: hsl(222, 57%, 36%);
        --card-color-light: hsl(227, 49%, 21%);
        --highlight: hsl(345, 67%, 59%);
        --baner-color: hsl(300, 9%, 96%);
        --black: hsl(27, 10%, 17%);
    }
    html {
        font-family: system-ui, sans-serif;
        /* background: #202020; */
        /* background-color: hsl(300, 9%, 96%); */
        background: var(--black);
    }
</style>
